:root {
  --do-font-family: 'Inter', sans-serif;

  /* --do-text-color-primary: #061e29; */
  /* --do-text-color-brand: #8b2e2e; */

  --do-color-brand: rgb(255, 50, 50);
  --do-color-light: #5f6368;
  --do-color-active: #1c4d8d;
  --do-color-focus: #bbe0ef;
  --do-color-background: #f2f4f7;

  --do-color-black: #061e29;
  --do-color-white: #ffffff;

  --do-font-size: 16px;

  --do-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --do-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --do-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --do-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);

  --do-border-radius: 0.375rem;
  --do-border-width: 1px;
  --do-border-style-solid: solid;
  --do-border-style-dash: dashed;
  --do-border-color: #dee2e6;
}
